#title{
    width: 100%;
    height: 39.16666666vw;
    margin-top: 4.166666666vw;
}
#title div.inner{
    width: 100%;
    height: 39.5833333vw;
}
#title div.inner div.top{
    width: 100%;
    height: 20.8333333vw;
    color: white;
    background-image: url(../img/thorloveandthunder_lob_mas_min_dsk_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: -4.1666666vw;
    
   
}
 #title div.inner div.top::after{
    content: "";
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.5;
} 
#title div.inner div.top h2.h2{
    font-size: 2.29166666vw;
    line-height: 1.8;
    position: absolute;
    top: 37%;
    left: 44%;
    z-index: 5;
    
}
#title div.inner div.top p{
    font-size: 0.83333333vw;
    position: absolute;
    top: 55%;
    left: 34%;
    z-index: 5;
}
#title div.inner div.container04{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -4.16666666vw;
}
#title div.inner div.container04 div.box{
    background-color: white;
    padding-top: 1.041666666vw;
    padding-left: 1.30208333vw;
    position: absolute;
    bottom: -12.920833333vw;
    box-sizing: border-box;
    
}
#title div.inner div.container04 div.box ul{
    width: 62.5vw;
    height: 13.59375vw;
    display: flex;
    justify-content: center;
    
}

#title div.inner div.container04 div.box ul li{
    width: calc(100% / 6);
    font-weight: 900;
    height: 100%;
    transition: all 0.3s;
    
}
#title div.inner div.container04 div.box ul li:hover{
    transform: translateY(-0.2604166666666vw);
  
}
#title div.inner div.container04 div.box ul li:nth-child(1){
    background-image: url(../img/blackpantherwakandaforever_lob_crd_04.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li:nth-child(2){
    
     background-image: url(../img/thor_01.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li:nth-child(3){
     background-image: url(../img/doctorstrangeinthemultiverseofmadness_lob_crd_02_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li:nth-child(4){
    background-image: url(../img/spider-mannowayhome_lob_crd_03.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li:nth-child(5){
     background-image: url(../img/eternals_lob_crd_06.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li:nth-child(6){
    background-image: url(../img/shangchi_lob_crd_07.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
#title div.inner div.container04 div.box ul li a.poster{
    display:block;
    height: 100%;
}

#title div.inner div.container04 div.box ul li a.poster02{
    display: block;
    width: 9.375vw;
    font-size: 0.72916666666vw;
    text-align:start;
    line-height: 1.3;
    margin-top: 1.0416666666vw;
}
#title div.inner div.container04 div.box ul li a.poster02:hover{
    color: red;
}
#title div.inner div.container04 div.box ul li a span{
    display: block;
    font-size: 0.5208333333vw;
    line-height: 2.2;
    color: grey;
    
}